* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;

}

body {
  min-height: 100%;
  overflow: hidden
}

.container {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}

#grid {
  width: 200px;
  height: 400px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

#grid.lost {
  background-color: lightgray;
}

#grid.won {
  background-color: green;
}

#grid div {
  width: 20px;
  height: 20px;
  /* background-color: red; */
  border: 1px solid black;
}

.tetromino {
  background-color: blue;
}

.frozen {
  background-color: gray;
}

#next-grid {
  width: 80px;
  height: 80px;
  /* background-color: lightyellow; */
  display: flex;
  flex-wrap: wrap;
}

#next-grid div {
  width: 20px;
  height: 20px;
}

#next-grid div.tetromino {
  border: 1px solid black;
}